
  .drop-zone-upload {
    font-family: Figtree;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #f09021;
  }
  .drop-zone-text {
    font-family: Figtree;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
  }