.home-page-child {
  position: absolute;
  top: 2061px;
  background-color: #fcfbf9;
  width: 100%;
  height: 12.7%;
}
.home-page-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkslategray);
  width: 100%;
  height: 14%;
}
.home-page-inner {
  position: absolute;
  top: 469px;
  left: 17%;
  width: 1224px;
  height: 545px;
  object-fit: cover;
}
.over-a-decade {
  margin: 0;
}
.description,
.section-title {
  position: relative;
  line-height: 140%;
}
.section-title {
  align-self: stretch;
  font-weight: 600;
}
.description {
  font-size: var(--font-size-lg);
  font-weight: 500;
  color: var(--color-slategray);
}
.section-title-parent {
  width: 392px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.frame-child {
  position: relative;
  border-radius: 50%;
  background-color: var(--color-darkslategray);
  width: 72px;
  height: 72px;
  z-index: 0;
}
.currency-exchange-icon {
  position: absolute;
  margin: 0 !important;
  top: 20px;
  left: 20px;
  width: 32px;
  height: 32px;
  z-index: 1;
}
.ellipse-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-3xs);
}
.label,
.number {
  position: relative;
  line-height: 140%;
}
.label {
  font-size: var(--font-size-base);
  letter-spacing: 0.04em;
  color: var(--color-slategray);
}
.number-parent {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.details {
  position: relative;
  width: 201px;
  height: 80px;
}
.frame-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.real-estate-agent-icon {
  position: absolute;
  margin: 0 !important;
  top: 19.5px;
  left: 20px;
  width: 32px;
  height: 32px;
  z-index: 1;
}
.details1,
.details2 {
  position: relative;
  width: 125px;
  height: 80px;
}
.details2 {
  width: 87px;
}
.frame-group,
.frame-parent {
  display: flex;
  flex-direction: row;
}
.frame-group {
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-45xl);
  font-size: var(--font-size-17xl);
  color: var(--color-darkorange);
}
.frame-parent {
  position: absolute;
  top: 1108px;
  left: 17%;
  width: 1224px;
  align-items: center;
  justify-content: space-between;
}
.ellipse-div {
  position: relative;
  border-radius: 50%;
  background-color: var(--color-darkslategray);
  width: 64px;
  height: 64px;
  z-index: 0;
}
.monitoring-icon {
  position: absolute;
  margin: 0 !important;
  top: 16px;
  left: 16px;
  width: 32px;
  height: 32px;
  z-index: 1;
}
.label3 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 160%;
  font-weight: 500;
  color: var(--color-slategray);
  text-align: center;
}
.frame-parent3,
.number-parent1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.number-parent1 {
  align-self: stretch;
  gap: var(--gap-5xs);
}
.frame-parent3 {
  width: 288px;
  gap: var(--gap-base);
}
.frame-parent2,
.frame-parent6 {
  position: absolute;
  top: 2557px;
  left: 27%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  font-size: var(--font-size-5xl);
  color: var(--color-darkorange);
}
.frame-parent6 {
  top: 2293px;
  left: 17%;
}
.section-title1,
.section-title2 {
  position: absolute;
  font-weight: 600;
  display: inline-block;
  width: 624px;
}
.section-title1 {
  top: 1381px;
  left: 17%;
  line-height: 140%;
}
.section-title2 {
  top: 2181px;
  left: calc(50% - 312px);
  line-height: 120%;
  text-align: center;
}
.rectangle-icon {
  position: absolute;
  top: 1530px;
  left: 17%;
  width: 521px;
  height: 411px;
  object-fit: cover;
}
.bottom-line {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--color-darkorange);
  width: 100%;
  height: 2%;
}
.ival-inc-all {
  position: relative;
  line-height: 20px;
}
.container,
.links {
  display: flex;
  flex-direction: row;
}
.links {
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.container {
  position: absolute;
  top: 338px;
  left: calc(50% - 612px);
  width: 1224px;
  align-items: center;
  justify-content: space-between;
}
.footer-line {
  position: absolute;
  top: 297.5px;
  left: 18%;
  border-top: 1px solid var(--color-white1);
  box-sizing: border-box;
  width: 64%;
  height: 1px;
}
.layer-1-icon {
  position: relative;
  width: 104.47px;
  height: 48px;
  overflow: hidden;
  flex-shrink: 0;
}
.helloivalcom {
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 120%;
  font-weight: 500;
}
.email-parent,
.logo-and-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.logo-and-contacts {
  gap: var(--gap-29xl);
}
.get-started-with {
  position: relative;
  line-height: 140%;
  font-weight: 600;
  display: inline-block;
  width: 397px;
}
.get-started {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 24px;
}
.get-started-wrapper,
.login-wrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-13xl);
  align-items: center;
  justify-content: center;
}
.get-started-wrapper {
  background-color: var(--color-darkorange);
}
.login-wrapper {
  border: 1px solid var(--color-white1);
}
.buttons {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  gap: 12px;
  font-size: var(--font-size-base);
}
.buttons,
.container1,
.title-and-buttons {
  display: flex;
  align-items: flex-start;
}
.title-and-buttons {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  font-size: 32px;
}
.container1 {
  position: absolute;
  top: 72px;
  left: 18%;
  width: 1224px;
  flex-direction: row;
  justify-content: space-between;
}
.rectangle-div,
.version-8-light {
  position: absolute;
  left: 0;
  background-color: var(--color-darkslategray);
  width: 100%;
}
.version-8-light {
  top: 6042px;
  height: 406px;
  overflow: hidden;
  font-size: var(--font-size-base);
  color: var(--color-white1);
}
.rectangle-div {
  top: 2877px;
  height: 660px;
}
.section-title3 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-21xl);
  line-height: 140%;
  font-weight: 600;
}
.frame-child7 {
  position: relative;
  border-radius: 50%;
  background-color: var(--color-darkorange);
  width: 48px;
  height: 48px;
  z-index: 0;
}
.mail-icon {
  position: absolute;
  margin: 0 !important;
  top: 12.5px;
  left: 12px;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.label10,
.number10 {
  position: relative;
  line-height: 120%;
  font-weight: 500;
}
.label10 {
  font-size: var(--font-size-lg);
  line-height: 140%;
  color: var(--color-whitesmoke);
}
.frame-parent13 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-base);
}
.file-text-icon {
  position: absolute;
  margin: 0 !important;
  top: 12px;
  left: 12px;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.section-title-group {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.download-example {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 140%;
}
.download-example-wrapper {
  background-color: var(--color-darkorange);
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-21xl);
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-lg);
}
.frame-parent12 {
  position: absolute;
  top: 2997px;
  left: 58%;
  width: 482px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 54px;
  font-size: var(--font-size-3xl);
  color: var(--color-white1);
}
.home-page-child1 {
  position: absolute;
  top: 4802px;
  left: 0;
  background-color: var(--color-darkslategray);
  width: 100%;
  height: 431px;
}
.title {
  position: relative;
  font-size: var(--font-size-21xl);
  line-height: 120%;
  font-weight: 600;
}
.subtitle {
  position: relative;
  line-height: 140%;
  font-weight: 500;
  color: var(--color-slategray);
  text-align: center;
  display: inline-block;
  width: 1015px;
}
.enquire-wrapper {
  background-color: var(--color-darkorange);
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-21xl);
  align-items: center;
  justify-content: center;
  color: var(--color-white1);
}
.title-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.legal-general-logo-png-transpa-icon {
  position: relative;
  width: 74.67px;
  height: 56px;
  object-fit: cover;
}
.images-1-icon,
.sage-homes-new-2022-logo-e2569-icon {
  position: relative;
  width: 141.12px;
  height: 56px;
  object-fit: cover;
}
.images-1-icon {
  width: 160.3px;
}
.mtvh-logo-stacked-white-e15683-icon,
.mtvh-logo-stacked-white-e15683-icon1 {
  position: relative;
  width: 49.66px;
  height: 48px;
  object-fit: cover;
}
.mtvh-logo-stacked-white-e15683-icon1 {
  width: 159.33px;
  margin-left: -12px;
}
.mtvh-logo-stacked-white-e15683-parent {
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.about-us-seo-1-icon,
.logo-orbit-group-1-1-icon {
  position: relative;
  width: 132.6px;
  height: 56px;
  object-fit: cover;
}
.logo-orbit-group-1-1-icon {
  width: 67.61px;
}
.legal-general-logo-png-transpa-parent {
  width: 1224px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}
.frame-parent16 {
  position: absolute;
  top: 4347px;
  left: 17%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-45xl);
  font-size: var(--font-size-lg);
}
.home-page-child2 {
  position: absolute;
  top: 2997px;
  left: 17%;
  width: 654px;
  height: 420px;
  object-fit: cover;
}
.title1 {
  position: relative;
  line-height: 120%;
  font-weight: 600;
  display: inline-block;
  width: 399px;
  flex-shrink: 0;
}
.group-icon {
  position: relative;
  width: 168px;
  height: 27px;
}
.title-group {
  width: 1224px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.this-software-is {
  position: relative;
  line-height: 140%;
  font-weight: 500;
  display: inline-block;
  width: 356px;
}
.ellipse-icon {
  position: relative;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  object-fit: cover;
}
.name,
.work {
  position: relative;
  line-height: 140%;
  font-weight: 600;
}
.work {
  font-size: var(--font-size-lg);
  font-weight: 500;
  color: var(--color-lightskyblue);
}
.ellipse-parent11,
.name-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.ellipse-parent11 {
  flex-direction: row;
  gap: var(--gap-xl);
  font-size: var(--font-size-3xl);
}
.this-software-is-a-game-change-parent {
  background-color: var(--color-darkslategray);
  height: 390px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: var(--padding-25xl) var(--padding-11xl) var(--padding-5xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: space-between;
}
.frame-parent17,
.frame-parent18 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent18 {
  width: 1332px;
  overflow-x: auto;
  flex-direction: row;
  gap: 42px;
  font-size: var(--font-size-xl);
  color: var(--color-white1);
}
.frame-parent17 {
  position: absolute;
  top: 3657px;
  left: 17%;
  flex-direction: column;
  gap: var(--gap-45xl);
}
.section-title4 {
  position: relative;
  line-height: 120%;
  font-weight: 600;
  display: inline-block;
  width: 624px;
}
.minus-icon {
  position: relative;
  width: 32px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
}
.description-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.description2 {
  flex: 1;
  position: relative;
  line-height: 160%;
  font-weight: 500;
}
.description-wrapper,
.frame-parent20 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.description-wrapper {
  flex-direction: row;
  padding: 0 var(--padding-5xl) 0 0;
  font-size: var(--font-size-lg);
  color: var(--color-slategray);
}
.frame-parent20 {
  flex-direction: column;
  gap: var(--gap-5xl);
}
.line-div {
  align-self: stretch;
  position: relative;
  border-top: 1px solid var(--color-darkslategray);
  box-sizing: border-box;
  height: 1px;
}
.description-group {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) 0;
  align-items: center;
  justify-content: space-between;
}
.frame-parent19,
.section-title-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-parent19 {
  width: 1016px;
  align-items: flex-start;
  gap: var(--gap-13xl);
  text-align: left;
  font-size: var(--font-size-3xl);
}
.section-title-container {
  position: absolute;
  top: 5353px;
  left: 25%;
  align-items: center;
  gap: var(--gap-45xl);
  text-align: center;
}
.description6 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 140%;
  font-weight: 500;
  color: var(--color-whitesmoke);
}
.frame-parent22,
.section-title-parent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.section-title-parent1 {
  align-self: stretch;
  gap: var(--gap-base);
}
.frame-parent22 {
  width: 668px;
  gap: var(--gap-21xl);
}
.layer-1-icon1 {
  position: relative;
  width: 460px;
  height: 80px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-parent21 {
  position: absolute;
  top: 4912px;
  left: 17%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 96px;
  color: var(--color-white1);
}
.description7 {
  flex: 1;
  position: relative;
  line-height: 160%;
  font-weight: 600;
}
.description-frame {
  align-self: stretch;
  background-color: var(--color-darkorange);
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xl);
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--color-white1);
}
.description8 {
  flex: 1;
  position: relative;
  line-height: 140%;
  font-weight: 500;
}
.description-wrapper1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xl);
  align-items: flex-start;
  justify-content: flex-start;
}
.description11,
.description9 {
  position: relative;
  line-height: 140%;
  font-weight: 500;
  display: inline-block;
  width: 370px;
  flex-shrink: 0;
}
.description11 {
  width: 446px;
}
.frame-parent24 {
  width: 535px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.group-child,
.group-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-3);
  width: 6px;
  height: 272px;
}
.group-item {
  background-color: var(--color-darkorange);
  height: 68px;
}
.rectangle-parent {
  flex: 1;
  position: relative;
  width: 6px;
}
.span {
  color: var(--color-black);
}
.span2 {
  color: #9a9a9a;
}
.div1 {
  position: relative;
  line-height: 140%;
  font-weight: 600;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.frame-parent23,
.group-parent {
  display: flex;
  justify-content: flex-start;
}
.group-parent {
  height: 360px;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-5xl);
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray);
}
.frame-parent23 {
  position: absolute;
  top: 1411px;
  left: 48%;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-21xl);
  font-size: var(--font-size-lg);
  color: var(--color-slategray);
}
.play-circle-icon {
  position: absolute;
  top: 3153px;
  left: 403px;
  width: 64px;
  height: 64px;
  overflow: hidden;
}
.mixed-tenure-developments {
  color: var(--color-darkorange);
}
.transforming-the-valuation-container {
  position: relative;
  line-height: 140%;
  font-weight: 600;
  display: inline-block;
  width: 624px;
  flex-shrink: 0;
}
.instant-desktop-valuations {
  position: relative;
  line-height: 140%;
  font-weight: 500;
  display: inline-block;
  width: 496px;
}
.enter-your-email {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 24px;
  font-weight: 500;
}
.enter-your-email-wrapper,
.signup-wrapper {
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xl);
  box-sizing: border-box;
  align-items: center;
}
.enter-your-email-wrapper {
  background-color: var(--color-white1);
  border: 1px solid var(--color-lightskyblue);
  width: 366px;
  justify-content: flex-start;
}
.signup-wrapper {
  background-color: var(--color-darkorange);
  width: 130px;
  justify-content: center;
  color: var(--color-white1);
}
.frame-parent26 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  color: #7b7979;
}
.frame-child16 {
  flex: 1;
  position: relative;
  border-top: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  height: 1px;
}
.or {
  position: relative;
  line-height: 140%;
  font-weight: 500;
}
.line-parent,
.sign-up-with-office365-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.line-parent {
  width: 379px;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  text-align: center;
  font-size: var(--font-size-lg);
}
.sign-up-with-office365-wrapper {
  border: 1px solid var(--color-white1);
  box-sizing: border-box;
  width: 496px;
  padding: var(--padding-3xs) var(--padding-xl);
  justify-content: center;
}
.frame-parent25,
.instant-desktop-valuations-for-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
  font-size: var(--font-size-base);
}
.instant-desktop-valuations-for-parent {
  align-items: flex-start;
  gap: var(--gap-13xl);
  font-size: var(--font-size-lg);
}
.transforming-the-valuation-an-parent {
  position: absolute;
  top: 156px;
  left: 17%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 104px;
  font-size: 48px;
  color: var(--color-white1);
}
.layer-1-icon2 {
  position: relative;
  width: 69.65px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
}
.home {
  color: var(--color-darkorange);
}
.about-us,
.home {
  position: relative;
  line-height: 24px;
  font-weight: 600;
}
.partners-wrapper {
  align-items: center;
  justify-content: flex-start;
}
.home-parent,
.layer-1-parent,
.partners-wrapper {
  display: flex;
  flex-direction: row;
}
.home-parent {
  align-items: flex-start;
  justify-content: flex-end;
  gap: var(--gap-29xl);
}
.layer-1-parent {
  width: 827px;
  align-items: center;
  justify-content: space-between;
}
.get-started-container {
  background-color: var(--color-darkorange);
  padding: var(--padding-5xs) var(--padding-xl);
  justify-content: center;
}
.frame-parent27,
.get-started-container,
.login-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.login-parent {
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.frame-parent27 {
  position: absolute;
  top: 0;
  background-color: var(--color-darkslategray);
  border-bottom: 0.2px solid var(--color-white1);
  box-sizing: border-box;
  width: 100%;
  padding: 16px 108px;
  justify-content: space-between;
  font-size: var(--font-size-base);
  color: var(--color-white1);
}
.home-page {
  position: relative;
  background-color: var(--color-white1);
  width: 100%;
  height: 6448px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-darkslategray);
  font-family: var(--font-figtree);
}
