.heading {
  padding-top: 3rem;
  font-family: Figtree;
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
  color: #1b3f58;
  width: 100%;
}

.field-container {
  position: relative;
  width: 50rem;
  display: flex;
  justify-content: space-between;
}

.overlay {
  position: absolute;
  right: 0;
  top: 3.3rem;
  width: 40%;
  height: 3rem;
  background-color: #ebebeb; /* Grey background with some opacity */
  display: flex;
  justify-content: center;
  align-items: center;
  color: grey; /* Text color */
}

.overlay-Step4{
  position: absolute;
  right: 0;
  top: 1.50rem;
  width: 40%;
  height: 3rem;
  background-color: #ebebeb; /* Grey background with some opacity */
  display: flex;
  justify-content: center;
  align-items: center;
  color: grey; /* Text color */
}

.input-wrapper {
  flex: 2;
  margin-right: 10px; /* Adjust the spacing between the inputs */
  position: relative;
}
.sub-heading {
  font-family: Figtree;
  font-size: 22px;
  font-weight: 600;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
}
.sub-sub-heading {
  font-family: Figtree;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: #556877;
}
.drop-zone {
    height: 10rem;
    padding-top: 2rem;
  }

