.home-page-existing-child {
    position: absolute;
    top: 358.44rem;
    right: 80.63rem;
    border-radius: 50%;
    background: linear-gradient(180deg, #fff, rgba(255, 255, 255, 0));
    width: 6.25rem;
    height: 6.25rem;
    transform: rotate(30deg);
    transform-origin: 0 0;
    opacity: 0.5;
  }
  .section-title,
  .section-title1 {
    position: relative;
    line-height: 120%;
    font-weight: 600;
  }
  .section-title1 {
    align-self: stretch;
    font-size: var(--font-size-lg);
    line-height: 140%;
    font-weight: 500;
    color: #556877;
  }
  .download-sample {
    position: relative;
    letter-spacing: 0.02em;
    line-height: 1.5rem;
  }
  .download-sample-wrapper {
    background-color: var(--color-darkorange-100);
    width: 12.03rem;
    display: flex;
    flex-direction: row;
    padding: var(--padding-xs) var(--padding-13xl);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-base);
    color: var(--color-white);
  }
  .section-title-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
  }
  .or-drag-and,
  .upload {
    position: relative;
    line-height: 140%;
    font-weight: 600;
  }
  .or-drag-and {
    color: var(--colors-text-dark);
  }
  .frame-parent,
  .upload-parent {
    display: flex;
    box-sizing: border-box;
  }
  .upload-parent {
    align-self: stretch;
    background-color: rgba(240, 144, 33, 0.16);
    border: 1px dashed var(--color-darkorange-100);
    height: 8.94rem;
    flex-direction: row;
    padding: 0.88rem 2.5rem;
    align-items: center;
    justify-content: center;
    gap: var(--gap-5xs);
    font-size: var(--font-size-base);
    color: var(--color-darkorange-100);
  }
  .frame-parent {
    position: absolute;
    top: 32.31rem;
    left: 0;
    background-color: var(--color-white);
    width: 90rem;
    flex-direction: column;
    padding: 0 var(--padding-89xl);
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-13xl);
    font-size: var(--font-size-13xl);
    color: var(--color-darkslategray-100);
  }
  .frame-child,
  .frame-child1,
  .frame-inner,
  .frame-item,
  .rectangle-icon {
    flex: 1;
    position: relative;
    border-radius: var(--br-9xs);
    max-width: 100%;
    overflow: hidden;
    height: 3.25rem;
    z-index: 0;
  }
  .frame-child1,
  .frame-inner,
  .frame-item,
  .rectangle-icon {
    z-index: 1;
    margin-left: -0.87rem;
  }
  .frame-child1,
  .frame-inner,
  .rectangle-icon {
    z-index: 2;
  }
  .frame-child1,
  .rectangle-icon {
    z-index: 3;
  }
  .frame-child1 {
    z-index: 4;
  }
  .section-title2,
  .section-title3,
  .section-title4,
  .section-title5,
  .section-title6 {
    position: absolute;
    margin: 0 !important;
    top: 0.75rem;
    left: 1.25rem;
    line-height: 140%;
    font-weight: 600;
    z-index: 5;
  }
  .section-title3,
  .section-title4,
  .section-title5,
  .section-title6 {
    left: 18.75rem;
    z-index: 6;
  }
  .section-title4,
  .section-title5,
  .section-title6 {
    left: 33.75rem;
    z-index: 7;
  }
  .section-title5,
  .section-title6 {
    left: 48.75rem;
    color: var(--color-darkslategray-100);
    z-index: 8;
  }
  .section-title6 {
    left: 63.75rem;
    z-index: 9;
  }
  .vector-parent {
    width: 76.5rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
  }
  .home-page-existing-item,
  .stick {
    position: absolute;
    left: 0;
    width: 90rem;
  }
  .stick {
    top: 19.31rem;
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    padding: 6.25rem var(--padding-89xl) 1.5rem;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: var(--font-size-xl);
  }
  .home-page-existing-item {
    top: 0;
    background-color: var(--color-darkslategray-100);
    height: 21.81rem;
  }
  .site-valuation-form,
  .your-site-valuation {
    line-height: 140%;
    display: inline-block;
    width: 40.88rem;
  }
  .your-site-valuation {
    position: absolute;
    top: 14.19rem;
    left: 6.75rem;
    font-size: var(--font-size-lg);
    font-weight: 500;
  }
  .site-valuation-form {
    position: relative;
    font-weight: 600;
  }
  .site-valuation-form-wrapper {
    position: absolute;
    top: 9rem;
    left: 6.75rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 3rem;
  }
  .ross-galler,
  .user {
    position: relative;
    line-height: 140%;
  }
  .user {
    letter-spacing: 0.02em;
    text-transform: uppercase;
    font-weight: 600;
  }
  .ross-galler {
    flex: 1;
    font-size: var(--font-size-base);
    font-weight: 500;
  }
  .frame-group,
  .user-parent {
    display: flex;
    justify-content: flex-start;
  }
  .user-parent {
    width: 17.94rem;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-xs);
  }
  .frame-group {
    position: absolute;
    top: 9rem;
    left: 65.25rem;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.88rem;
    font-size: var(--font-size-sm);
  }
  .save-next-wrapper {
    background-color: var(--color-darkorange-100);
    display: flex;
    flex-direction: row;
    padding: 0.38rem var(--padding-13xl);
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .home-page-existing-inner {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--color-white);
    border-top: 0.2px solid var(--color-darkslategray-100);
    box-sizing: border-box;
    width: 90rem;
    display: flex;
    flex-direction: column;
    padding: var(--padding-xs) var(--padding-89xl);
    align-items: flex-end;
    justify-content: flex-start;
  }
  .layer-1-icon {
    position: relative;
    width: 4.35rem;
    height: 2rem;
    overflow: hidden;
    flex-shrink: 0;
  }
  .home {
    position: relative;
    line-height: 1.5rem;
    font-weight: 600;
  }
  .partners-wrapper,
  .your-scheme-wrapper {
    align-items: center;
    justify-content: flex-start;
  }
  .partners-wrapper {
    display: flex;
    flex-direction: row;
  }
  .your-scheme-wrapper {
    color: var(--color-darkorange-100);
  }
  .home-parent,
  .layer-1-parent,
  .your-scheme-wrapper {
    display: flex;
    flex-direction: row;
  }
  .home-parent {
    align-items: flex-start;
    justify-content: flex-end;
    gap: var(--gap-29xl);
  }
  .layer-1-parent {
    width: 55.69rem;
    align-items: center;
    justify-content: space-between;
  }
  .logout-wrapper {
    padding: 0.5rem var(--padding-13xl);
    justify-content: center;
  }
  .frame-container,
  .frame-wrapper,
  .logout-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .frame-wrapper {
    border: 1px solid var(--color-white);
    justify-content: flex-start;
  }
  .frame-container {
    position: absolute;
    top: 0;
    left: calc(50% - 720px);
    background-color: var(--color-darkslategray-100);
    border-bottom: 0.2px solid var(--color-white);
    box-sizing: border-box;
    width: 90rem;
    padding: 1rem var(--padding-89xl);
    justify-content: space-between;
  }
  .home-page-existing {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 90.19rem;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--color-white);
    font-family: var(--font-figtree);
  }
  